---
layout: default
---

<div class="tuioverlay">
  <div class="tui-window">
    <div class="tui-content">
      <span class="tui-title">Esoteric Text Editor</span>
      <span class="tui-text">David Kneperkuff, John Penjikluyk. 1981</span>
      <p class="tui-text"><span class="tui-emph">Opened project:</span> Yet another personal blog about stuff I find interesting.</p>
      <div class="matrix-link tui-buttons">
        <span class="go-left">&gt;</span><a href="/" class="go-link">close</a><span class="go-right">&lt;</span>
        <span class="go-left">&gt;</span><a href="#" class="go-link">tutorial</a><span class="go-right">&lt;</span>
      </div>
    </div>
    <div class="lines">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
      <div class="line line-4 extend-bottom"></div>
    </div>
  </div>
</div>
