---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

<h2 class="title bg-1">./posts</h2>

{%- if site.posts.size > 0 -%}
{%- for post in site.posts -%}
{%- assign date_format = "%d.%m.%y" -%}
  <div class="post-title">
    <a href="{{ post.url | relative_url }}" class="home-title">{{ post.title | escape }}</a>

    {%- if post.has_repo -%}
    <span class="post-stars">{% include star_counter.html author=post.repo_author repo=post.repo %}</span>
    {%- endif -%}
  </div>

  
{%- endfor -%}
{%- endif -%}

<h2 class="title bg-1">./weekend_projects</h2>

<div class="matrix">
  <div class="col">
    {% include icon_loader.html icon="ansible.svg" %}
    <div class="matrix-info">
      <span class="matrix-title">sing-box Ansible playbook</span>
      <span class="matrix-subtitle">Deploy xray/trojan VPN server with ease</span>
      
    </div>
    {% include go.html url="https://github.com/enaix/sing-box-ansible" %}
  </div>
  <div class="col">
    {% include icon_loader.html icon="fish-sharp.svg" %}
    <div class="matrix-info">
      <span class="matrix-title">Kirikiroid2-debloated</span>
      <span class="matrix-subtitle">Clean, Android 14+ compatible Kirikiroid2 fork</span>
    </div>
    {% include go.html url="https://github.com/enaix/Kirikiroid2-debloated" %}
  </div>
  <div class="col">
    {% include icon_loader.html icon="nuclear.svg" %}
    <div class="matrix-info">
      <span class="matrix-title">./not_so_weekend_projects</span>
      <span class="matrix-subtitle">on github</span>
    </div>
    {% include go.html url="https://github.com/enaix" %}
  </div>
</div>
